@model MyBlog.Web.Areas.Admin.Models.BlogViewModel
@{
    ViewBag.Title = "AddOrEditArticle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Scripts/plugins/editor.md/css/editormd.min.css" rel="stylesheet" />
<link href="~/Scripts/plugins/bootstrap-select-1.12.4/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Scripts/plugins/icheck-1.x/skins/all.css" rel="stylesheet" />
<script src="~/Scripts/plugins/editor.md/editormd.min.js"></script>
<script src="~/Scripts/plugins/bootstrap-select-1.12.4/dist/js/bootstrap-select.min.js"></script>
<script src="~/Scripts/plugins/bootstrap-select-1.12.4/js/i18n/defaults-zh_CN.js"></script>
<script src="~/Scripts/plugins/icheck-1.x/icheck.min.js"></script>
<div class="container-fluid" style="margin-top:20px;">
    <form>
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Id" id="id" />
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>标题：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <input type="text" class="form-control" id="title" placeholder="请输入标题" value="@Model.Title" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>分类：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                @Html.Action("CreateSelect", "Common", new { id = "classify", source = ViewBag.Classify, value = "Id", text = "Name", @class = "selectpicker form-control", selectedValue = string.Join(",", Model.Classify.Select(t => t.Id)) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>标签：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                @Html.Action("CreateSelect", "Common", new { id = "tags", source = ViewBag.Tags, value = "Id", text = "Name", @class = "selectpicker form-control", isMulti = true, selectedValue = string.Join(",", Model.Tags.Select(t => t.Id)) })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>内容：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <div id="editormd">
                    <textarea style="display:none;">@Model.ShortContext</textarea>
                </div>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <span>状态：</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <input type="radio" id="release" name="iCheck" @((Model.Id == 0 || Model.IsPublished) ? "checked" : "") value="1">
                <label for="release" style="margin-right:20px;">发布</label>
                <input type="radio" id="draft" name="iCheck" @((Model.Id != 0 && !Model.IsPublished) ? "checked" : "") value="0">
                <label for="draft">存为草稿</label>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                <input type="button" value="提交" id="btn_submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<script src="~/Content/ArticleManage/addOrEdit.js"></script>