@model IEnumerable<MyBlog.Entities.Blog>

@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div class="day">
            <div class="postTitle">
                <a id="homepage1_HomePageDays_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/Blog/Index/@item.Id">@item.Title</a>
            </div>
            <div class="postCon">
                @if (item.Context.Length > 200)
                {
                    <div class="c_b_p_desc">
                        @Html.Raw(item.Context.Substring(0, 200))
                        <a href="/Blog/Index/@item.Id" class="c_b_p_desc_readmore">阅读全文</a>
                    </div>
                }
                else
                {
                    <div class="c_b_p_desc">
                        @item.Context
                        <a href="/Blog/Index/@item.Id" class="c_b_p_desc_readmore">阅读全文</a>
                    </div>
                }
            </div>
            <div class="clear"></div>
            <div class="postDesc">发布时间 @item.PublishedDate.Value.ToString("yyyy-MM-dd HH:mm:ss")  分类  @item.Classify.Name </div>
            <div class="clear"></div>
            <div class="postSeparator"></div>
        </div>
    }
}
else
{
    <div style="text-align:center;">
        没有找到相关信息
        <hr />
    </div>
}



